<nav class="navbar navbar-expand-lg navbar-inverse text-light bg-dark text-link">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/img/A-64.png" width="30" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="link-select">
        <a class="nav-link text-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="link-select">
        <a class="nav-link text-link" [routerLink]="['heroes']">Heroes</a>
      </li>
      <li class="nav-item" routerLinkActive="link-select">
          <a class="nav-link text-link" [routerLink]="['about']">About</a>
        </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="buscador" aria-label="Search" [(ngModel)]="textoInput" [ngModelOptions]="{standalone: true}" (keyup.enter)="buscarHeroe()" >
      <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="buscarHeroe()">Buscar</button>
    </form>
  </div>
</nav>